*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
@font-face {
    font-family: fonte_red_dead;
    src: url(./chinese\ rocks\ rg.ttf);
}
body{
    background-color: rgba(0, 0, 0, 0.696);
    font-family: "fonte_red_dead";
}
.container{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;

}
.vermelho{
    background-image: url(./wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-position-x:20%;
    background-position-y: 22%;
    box-shadow: inset 0px 0px 200px 50px #000;
}
header{
    width:1200px ;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    color: whitesmoke;

}
header h1{
    font-size: 100px;
    padding: 280px 0px;
    filter: drop-shadow(0px 10px 5px #2a2a2a);
}
header h2{
    font-size: 100px;
    filter: drop-shadow(0px 10px 5px #000000);
}
header nav, header h2{
    padding-bottom: 80px;
}
header nav a{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding: 0 6px;
    filter: drop-shadow(0px 5px 1px #000000);
}
.sobre{
    font-size: 30px;
    color: #fff;
    padding: 250px 0px;

}
.fundo{
    background-image: url(./red2.jpg);
    background-position-y: 70%;
    background-position-x: 50%;
    box-shadow: inset 0px 0px 200px 50px #000;
}
.sobre h2{
    text-align: center;
    padding-bottom: 50px;
}
.sobre-para{
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 2%;
    text-align: justify;
    padding-bottom: 50px;
    text-shadow: 0px 5px 2px #000000;
}
.fundo-cards{
    background-image: url(./fotos/arthur.jpg);
    background-position-x:50% ;
    box-shadow: inset 0px 0px 200px 50px #000;
}
.cards{
    padding: 200px 0px;
    display: grid;
    row-gap: 10%;
    grid-template-columns: repeat(3,30%);
    column-gap: 5%;
}
.cartao{
    padding: 20px 20px;
    border: solid #000000 1px;
    border-radius: 10px;
    background-color:rgba(0,0,0,0.7 );
    color: #fff;
    text-align: center;
}
.cartao h3{
    padding: 20px 0px;
    font-size: 30px;
}
.cartao img{
    height: 180px;
    border-radius: 5px;
    margin-bottom: 20px

}
.cartao a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;

}
.cartao a:hover{
    text-decoration: underline;
    cursor: pointer;
}
